TestNetConnector/cfg/msg.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Packet">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Infos">
          <xs:complexType>
            <xs:sequence>
              <xs:element maxOccurs="unbounded" name="Info" />
            </xs:sequence>
            <xs:attribute name="Comment" type="xs:string" use="required" />
            <xs:attribute name="LastModified" type="xs:string" use="required" />
          </xs:complexType>
        </xs:element>
        <xs:element name="Items">
          <xs:complexType>
            <xs:sequence>
              <xs:element maxOccurs="unbounded" name="Item">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element maxOccurs="unbounded" name="InitValue" type="xs:unsignedByte" />
                  </xs:sequence>
                  <xs:attribute name="Name" type="xs:string" use="required" />
                  <xs:attribute name="Type" type="xs:string" use="required" />
                  <xs:attribute name="IsSwap" type="xs:string" use="required" />
                  <xs:attribute name="Size" type="xs:unsignedByte" use="required" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>